{% load static %}
<html>
    <head>
        <title>Django</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
    </head>
    <body>
        <div class="page-header">
           <h1><a href="/">Django Info</a></h1>
        </div>
        <script language ="JavaScript">
                   document.write("User agent: ");
                   document.write(window.navigator.userAgent);
                   document.write("; Platform: ");
                   document.write(window.navigator.platform);
                   document.write("; appVersion: ");
                   document.write(window.navigator.appVersion);
                   document.write("; appName: ");
                   document.write(window.navigator.appName);
                   document.write("; cookieEnabled: ");
                   document.write(navigator.cookieEnabled);
                   document.write("; language: ");
                   document.write(navigator.language);
                   document.write("; product: ");
                   document.write(navigator.product);
                   document.write("; screen width: ");
                   document.write(screen.width);
                    document.write("; screen height: ");
                   document.write(screen.height);
                   document.write("; screen availWidth: ");
                   document.write(screen.availWidth);
                    document.write("; screen availHeight: ");
                   document.write(screen.availHeight);
                   document.write("; screen colorDepth: ");
                   document.write(screen.colorDepth);
                   
                   
                   
        </script>
   </body>
</html>
